:root {

    --etch-color: #ad1517;
    --etch-color2: #d33f3f;
    --text-color: #d4af37;
    --outter-knob: #d5d6d7;
    --inner-knob1: #d5d6d7;
    --inner-knob2: #c3c0c0ef;
    --canvas-color: #d4d2ce;
    --knob-border: #aaa7a7;
    --nav-button-color1: #FFFDD7;
    --nav-button-color2: #bd3f36;
    font-family: "Rubik", sans-serif;
    touch-action: pinch-zoom;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Text styles */
h1,
h2 {
    text-align: center;
    padding-top: 5px;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    text-wrap: wrap;
}

footer {
    padding-top: 65px;
    text-align: center;
}

#logo {

    font-size: large;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    display: flex;
    justify-content: center;


}

/* Shake and Sketch device style */
/* #etch-device {
    max-width: 80vw;
    max-height: 60vh;
    display: inline;
    align-items: center;

} */

.outline {
    border-color: var(--etch-color);
    background: linear-gradient(var(--etch-color), var(--etch-color2));
    border-radius: 10%;
    border-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;

}

#store {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#drawing-area {

    background-color: var(--canvas-color);
    padding-top: 2px;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.10);
}

.column1 {
    display: flex;
    flex-direction: column;
}

canvas {

    position: relative;
}

/* Styling the device knobs  */

#knobs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}

.knob-outter,
.knob-inner1,
.knob-inner2 {
    border-color: var(--knob-border);
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;

}

.knob-outter {
    background-color: var(--outter-knob);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
    z-index: 9999;
    cursor: pointer
}

#horizontal-knob {
    transform: rotate(-90deg);
}

#vertical-knob {
    transform: rotate(-90deg);
}

.knob-inner1 {
    background-color: var(--inner-knob1);
    position: relative;
    width: 79%;
    height: 79%;
    top: 43%;
    left: 53%;
    transform: translate(-65%, -52%);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8)
}

.knob-inner2 {
    background-color: var(--inner-knob2);
    position: relative;
    width: 7px;
    height: 3px;
    transform: translate(-65%, -50%);
    background-color: var(--knob-border);
}

#clear {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#clear:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}


/* Media query for knobs */
@media (min-width:1700px),
(min-width:992px) {
    body {
        height: 100vh;

    }

    .outline {

        padding: 10px 20px 30px;

    }

    .knob-outter {
        width: 200px;
        height: 200px;
    }

    .knob-inner2 {
        top: 76px;
        left: 19px;
    }

}

@media (max-height:400) and (max-width:900) {
    body {
        height: 10vh;

    }


}

@media (min-width:576px),
(min-width:768px) {
    .outline {
        padding: 7px 12px 11px;



    }

    .knob-outter {
        width: 100px;
        height: 100px;
    }

    .knob-inner2 {
        top: 76px;
        left: 19px;
    }

}

@media (min-width:80px) {
    .outline {
        padding: 7px 12px 11px;
    }

    #knobs {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        display: none;
    }

    .knob-outter {
        width: 70px;
        height: 70px;
    }

    .knob-inner2 {
        top: 27px;
        left: 13px;
    }

}

@media(orientation:landscape) and (min-width:368) {
    #etch-device {
        height: 90vh;
        width: 85vw;
    }



    h1 {
        display: none;
    }

    footer {
        display: block;
    }
}

@media(orientation:landscape) and (min-width:428) {
    #etch-device {
        height: 19vh;
        width: 40vw;
    }



    h1 {
        display: none;
    }

    footer {
        display: block;
    }
}

/* Arrows styling for knobs */

#icon {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 7px;

}