:root {

    --etch-color: #db2222;
    --text-color: #c19f32;
    --outter-knob: #d5d6d7;
    --inner-knob1: ##d5d6d7;
    --inner-knob2: #c3c0c0ef;
    --knob-border: #aaa7a7;
}

body {
    height: 100dvh;
}

h1,
footer {
    text-align: center;
    padding-top: 10px;
}

.outline {
    border-color: var(--etch-color);
    border-width: 10px;
    padding: 10px 20px 30px;
    border-radius: 10%;
    border-style: solid;
    display: flex;
    position: relative;
    flex-direction: column;


}


#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic var(--text-color);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: space-around;


}

.etch-device {
    background-color: var(--etch-color);

}

#drawing-area {
    width: 1600;
    height: 1000;
    background-color: white;
    padding-top: 2px;
    overflow: hidden;
    border-radius: 10%;
}

@media only screen and (min-width:769px) {
    .outiline {
        height: 400px;
        width: 600px;
    }

    #knobs {
        padding-left: 40px;
        padding-right: 40px;
    }

    .knob-outter {
        width: 140px;
        height: 140px;
    }
}


@media only screen and (min-width:481px) {
    .outiline {
        height: 200px;
        width: 400px;
    }

    #knobs {
        padding-left: 20px;
        padding-right: 20px;
    }

    .knob-outter {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width:320px) {
    .outiline {
        height: 100px;
        width: 200px;
    }

    #knobs {
        padding-left: 10px;
        padding-right: 10px;
    }

    .knob-outter {
        width: 100px;
        height: 100px;
    }
}

canvas {
    height: 400px;

    background: white;
    position: relative;

}

#knobs {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.knob-outter,
.knob-inner1,
.knob-inner2 {
    border-color: var(--knob-border);
    border-width: 1px;

    border-radius: 50%;
    border-style: solid;

}

.knob-outter {
    background-color: var(--outter-knob);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
    z-index: 9999;
    cursor: pointer
}

#horizontal-knob {
    transform: rotate(-90deg);
}

#vertical-knob {
    transform: rotate(-90deg);
}

.knob-inner1 {
    background-color: var(--inner-knob1);
    position: relative;
    width: 79%;
    height: 79%;
    top: 43%;
    left: 53%;

    /* justify-items: center; */
    /* margin-top: -22px;
    margin-left: -22px; */
    transform: translate(-65%, -52%);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8)
}

.knob-inner2 {
    background-color: var(--inner-knob2);
    position: relative;
    width: 7px;
    height: 7px;
    top: 76px;
    left: 19px;
    border-radius: 50%;
    transform: translate(-65%, -50%);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
}