:root {

    --etch-color: #ad1517;
    --etch-color2: #d33f3f;
    --text-color: #d4af37;
    --outter-knob: #d5d6d7;
    --inner-knob1: #d5d6d7;
    --inner-knob2: #c3c0c0ef;
    --canvas-color: #d4d2ce;
    --knob-border: #aaa7a7;
    --nav-button-color1: #FFFDD7;
    --nav-button-color2: #bd3f36;
    font-family: "Rubik", sans-serif;
    touch-action: pinch-zoom;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

body.landscape .knob-outter {
    width: 60px;
    height: 60px;
}


/* Text styles */
h1 {

    text-align: center;
    padding-top: 5px;
}


footer {
    font-family: 'Source Code Pro';
    font-size: 78%;
    padding-top: 10%;
    text-align: center;

}



/* Shake and Sketch device style */

.container {
    display: flex;
    flex-basis: content;



}

#etch-device {
    max-width: max-content;
    display: inline;


}

#logo {
    position: inline;
    font-family:"Rubik Maze",system-ui;
    font-style:normal;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    display: flex;
    justify-content: center;

}

.outline1 {
    border-color: var(--etch-color);
    background: linear-gradient(var(--etch-color), var(--etch-color2));
    max-height: 80vh;
    border-radius: 10%;
    border-width: 10px;
    padding: 3% 5% 10%;
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;



}

.outline2 {
    border-color: var(--etch-color);
    background: linear-gradient(var(--etch-color), var(--etch-color2));
    padding: 3% 1% 1%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    position: relative;

}

#store {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#drawing-area {

    background-color: var(--canvas-color);
    position: relative;
    padding-top: 2px;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.10);
}



canvas {

    position: relative;
}

/* Styling the device knobs  */

#knobs {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.knob-outter,
.knob-inner1,
.knob-inner2 {
    border-color: var(--knob-border);
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;

}

.knob-outter {
    background-color: var(--outter-knob);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
    z-index: 9999;
    cursor: pointer
}

#horizontal-knob {
    transform: rotate(-90deg);
}

#vertical-knob {
    transform: rotate(-90deg);
}

.knob-inner1 {
    background-color: var(--inner-knob1);
    position: relative;
    width: 79%;
    height: 79%;
    top: 43%;
    left: 53%;
    transform: translate(-65%, -52%);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8)
}

.knob-inner2 {
    background-color: var(--inner-knob2);
    position: relative;
    width: 7px;
    height: 3px;
    top: 10%;
    left: 51%;
    transform: translate(-69%, -57%);
    background-color: var(--knob-border);
}

#clear {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 22% 27%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#clear:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Arrows styling for knobs */

#icon {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 7px;

}


img {
    height: 20px;
}

/* Media query for device */
@media (min-width:992px)and (min-width: 1200px) {
    body {
        align-items: center;

    }

    .knob-outter {
        width: 200px;
        height: 200px;
    }
}


@media (min-width:601px) and (max-width:991px) {
    body {
        align-items: center;

    }

    h1 {
        display: block;
    }

    .knob-outter {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:80px) and (max-width:600px) {


    h1 {
        display: block;
    }

    .knob-outter {
        width: 70px;
        height: 70px;
    }
}



@media (min-height:350) and (max-height:600px) {

    h1 {
        display: none;
    }

    .knob-outter {
        width: 70px;
        height: 70px;
    }
}

@media (height<=349px) {
    #etch-device {
        max-width: 64%;


    }

    h1 {
        display: none;
    }

    .knob-outter {
        width: 56px;
        height: 56px;
    }
}

@media only screen and (orientation:landscape) {

    #etch-device {
        max-width: 64%;


    }

    h1 {
        display: none;
    }

    .knob-outter {
        width: 60px;
        height: 60px;
    }
}

@media (width<=430px) {

    h1 {
        display: none;
    }

    .knob-outter {
        width: 60px;
        height: 60px;
    }
}


/* Tips pop up message */
#tipsPopup {
    position: absolute;
    transform: translate(-45%, -48%);
    background-color: rgba(146, 167, 116, 0.9);
    border-radius: 10px;

    box-shadow:
        0px 2px 5px rgba(0, 0, 0, 0.3);
    top: 40%;
    left: 35%;
    width: 69%;
    z-index: 10000;
    display: none;

}

#tipContent {
    padding: 2%;
    font-size: small;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#tip-text {
    padding: 2%;
}